/.idea/
/venv/
/pyharmonytools/.google_searches_qty.log
/test/3_online_tests/nb_google_searches.log
/test/3_online_tests/.google_searches_qty.log
/test/.google_searches_qty.log
/graphics.odp
/build/
/dist/
/pyHarmonyTooling.egg-info/
/pyharmonytools/pyHarmonyTooling.egg-info/
/.pytest_cache/
*.log
