
UNIT TEST REPORT
================
        
 generation: 2022-11-27 12:25:36.616870
:red_circle:3
:green_circle:6
-------

* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L275)]: test_digest_tab_bach(line 275): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L36)]: test_digest_tab_dgbd(line 36): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L77)]: test_digest_tab_eb(line 77): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L49)]: test_digest_tab_gb6(line 49): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L50)]: test_digest_tab_gb6(line 50): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L63)]: test_digest_tab_gb6_d(line 63): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L289)]: test_get_first_caret_position_across_strings(line 289): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L304)]: test_get_next_caret_position_across_strings_next(line 304): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L19)]: test_get_notes_from_chord_layout(line 19): 