
UNIT TEST REPORT
================
        
 generation: 2022-11-29 23:36:48.258622
:red_circle:3
:green_circle:6
-------

* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L346)]: test_digest_bach_bar_1(line 346): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L378)]: test_digest_bach_bar_1_2(line 378): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L67)]: test_digest_tab_dgbd(line 67): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L110)]: test_digest_tab_eb(line 110): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L81)]: test_digest_tab_gb6(line 81): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L96)]: test_digest_tab_gb6_d(line 96): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L361)]: test_digest_tab_simplest_progressive_chords_in_a_bar_ebm(line 361): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L393)]: test_digest_tab_simplest_progressive_chords_in_a_bar_gb6_d(line 393): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L50)]: test_get_notes_from_chord_layout(line 50): 