
UNIT TEST REPORT
================
        
 generation: 2022-11-29 17:50:35.338773
:red_circle:2
:green_circle:3
-------

* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L67)]: test_digest_tab_dgbd(line 67): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L110)]: test_digest_tab_eb(line 110): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L81)]: test_digest_tab_gb6(line 81): 
* :red_circle: [[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L361)]: test_digest_tab_simplest_progressive_chords_in_a_bar_ebm(line 361): 
* :green_circle:[[1_objects_tests/test_guitar_tab.py](test/1_objects_tests/test_guitar_tab.py#L50)]: test_get_notes_from_chord_layout(line 50): 