
UNIT TEST REPORT
================
        
 generation: 2022-12-03 21:53:19.878377
:red_circle:0
:green_circle:1
-------

* :green_circle:[[1_objects_tests/test_circle_of_5th.py](test/1_objects_tests/test_circle_of_5th.py#L43)]: test_find_substitutes_g6(line 43): 